<div class="container">

    <h1>REGISTRATION NUMBERS</h1>
    <div class="content">
        <div class="forms">
            <form action="/reg_numbers" method="POST">
                <div class="enterReg">
                    <label for="">Enter Registration Number</label>
                    <br><br>
                    <input type="text" name="userRegistration" value="" class="reg-textbox">
                    <button type="submit" name="reg-btn" class="addButton">Add</button>
                </div>
            </form>

            <div class="example">
                <ul>
                    <li>'CA 123-456'</li>
                    <li>'CL 789 012'</li>
                    <li>'CJ 123456'</li>
                </ul>
            </div>

            <form action="/reg_numbers" method="GET">
                <div class="filer">
                    <label for="">Filter Registration Numbers</label>
                    <br><br>
                    <select class="drop-down" name="filter">

                        <option value="">Select All</option>
                        {{#each town}}
                        <option value={{this.id}}>{{town}}</option>
                        {{/each}}
                    </select>

                    <button type="submit" class="">Filter</button>
                </div>
            </form>
        </div>

        <form action="/reset" method="GET" name="reset" class="resetBtn">
            <button type="submit" class="">Reset</button>
        </form>
        <br>
        <hr>
        <div class="reg-plate">
            <label>Registration Numbers</label>
            <br>
            <div class="error">
                {{messages.error}}
            </div>
            <div class="success">
                {{messages.success}}
            </div>
            <div class="reset">
                {{messages.reset}}
            </div>

            <ul>
                {{#each registration}}
                <li>{{registration}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

</div>